html{
  width: 100%;
  font-family: 'LexiaReadable-Regular';
}

@font-face{
  font-family: 'LexiaReadable-Regular';
  src: url('LexiaReadable-Regular.ttf');
}

body{
  margin: 0;
}

#button{
  width: 45%;
  height: 20em;
  margin: 3% 3% 0 3%;
}

.enfant{
  text-align: right;
  margin-right: 5%;
}

button > h1{
}
