@font-face{
  font-family: 'LexiaReadable-Regular';
  src: url('LexiaReadable-Regular.eot');
  src: local(x),
       url('LexiaReadable-Regular.ttf');
}

  p{
    font-family: 'LexiaReadable-Regular';
  }
